<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MENRVA Equipment Manager - Sign In</title>
</head>
<body>

        <h1>MENRVA Equipment Manager</h1>
        <h2>Sign In</h2>

        <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.team&client_id=276407177264.622855467269&redirect_uri=http%3A%2F%2Flocalhost%3A80%2Foauth%0A"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>

</body>
</html>